<h3>Items in your shopping cart</h3>

<table>
  <%@cart.lineitems.each do |item|%>
  <tr>
    <td><%=item.quantity%></td>
    <td><%=item.product.name%></td>
    <td><%=item.product.price%></td>
  </tr>
  <%end%>
  <tr>
    <td>Total</td>
    <td colspan="2"><%=number_to_currency(@cart.total_price)%></td>
  </tr>
</table>
<%=button_to "Empty Cart", @cart, method: :delete, data: {confirm: "Are you sure?"}%>
<%= button_to "Check Out", new_order_path, method: :get %>
<ul>
	<li><a href="https://magic.wizards.com/en/mtgarena">Home</a></li>
	<li><a href="https://magic.wizards.com/en/products/card-set-archive">Archive</a></li>
	<li><a href="https://magic.wizards.com/en/new-to-magic?B=">New To Magic</a></li>
	<li><a href="https://www.wizards.com/magic/planeswalkerpoints">Planewalker Points</a></li>
</ul>
<% if session[:user_id] %>
	<ul>
		<li><%= link_to 'Orders', orders_path %></li>
		<li><%= link_to 'Products', products_path %></li>
		<li><%= link_to 'Users', users_path %></li>
	</ul>
	<%= button_to 'Logout', logout_path, method: :delete%>
<%end%>
