<!DOCTYPE html>
<html>
  <head>
    <title>SparkGathering</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%=controller.controller_name%>">
    <div class="topnav">
      <a class="active topnav_a_l" href="/">Home</a>
      <a class="topnav_a_l" href="/products">Supplier Page</a>
      <a class="topnav_a_l" href="/shopper/index">Booster Box</a>
      <%=image_tag("magic_logo.png", class: "logo_r")%>
      <span class="title_r" href="">Spark Gathering</span>
      <%if session[:cart_id]%>
      <a class="topnav_a_r" href="/carts/<%=session[:cart_id]%>">Shopping Cart</a>
      <%else%>
      <a class="topnav_a_r" href="">Shopping Cart</a>
      <%end%>
      <a class="topnav_a_r" href="/admin">Admin</a>
			<%if !session[:user_id]%>
      <a class="active topnav_a_r" href="/login">Login</a>
			<%else%>
			<a class="active topnav_a_r" href="/logout">Logout</a>
			<%end%>
      <a class="topnav_a_r" href="/users">Users</a>
    </div>
    <%= yield %>
  </body>
</html>
