<p id="notice" class="notice_center"><%= notice %></p>

<div class="main">
<h1>Product Catalog</h1>
<table>
  <tbody class="entry">
    <% @products.each do |product| %>
      <tr>
        <td><%=image_tag(product.image, height:'250', width:'250')%></td>
        <td>
          <h2><%=product.name%></h2>
          <p><%=product.description%></p>
          <div class="button">
            <p class="price_line"><span class="price">$<%=product.price%></span></p>
          </div>
          <div class="button">
            <%= button_to 'Add to Cart', lineitems_path(product_id: product), class: 'add_to_cart', remote:true %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div id="cart" class="sidenav">
  <%=render @cart%>
</div>
